<div class="mx-20 py-8 min-h-screen flex flex-col">
<div class="md:mx-40 my-20 p-6 bg-gray-900 text-white rounded-lg shadow-md">
  <h1 class="text-3xl font-bold text-green-400 mb-6">Role Management</h1>
  <hr class="border-gray-700 mb-6" />

  <div class="flex flex-col md:flex-row gap-6">
    <!-- FORMULARIO PARA CREAR ROLES + ASIGNAR ROLES -->
    <div class="w-full md:w-1/2 space-y-6">

      <!-- Formulario de creación de roles -->
      <div class="bg-gray-800 p-5 rounded-md shadow">
        <app-role-form
          [errorMessage]="errorMessage"
          [role]="roles"
          (addRole)="createRole($event)" />
      </div>

      <!-- Formulario para asignar roles a usuarios -->
      <div class="bg-gray-800 p-5 rounded-md shadow">
        <h2 class="text-xl font-semibold mb-4 text-green-300">Assign Role To User</h2>

        <div class="flex flex-col gap-5">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label class="text-gray-500">User</mat-label>
            <mat-select [(value)]="selectedUser">
              @for (user of users$ | async; track user.id) {
                <mat-option [value]="user.id">
                  {{ user.fullName }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label class="text-gray-500">Role</mat-label>
            <mat-select [(value)]="selectedRole">
              @for (role of roles$ | async; track role.id) {
                <mat-option [value]="role.id">
                  {{ role.name }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <button 
            [disabled]="!selectedRole || !selectedUser"
            (click)="assignRole()"
            class="bg-green-500 hover:bg-green-600 disabled:bg-gray-600 text-white font-semibold py-2 px-4 rounded-md transition duration-200">
            Assign Role
          </button>
        </div>
      </div>
    </div>

    <!-- LISTA DE ROLES -->
    <div class="w-full md:w-1/2 bg-gray-800 p-5 rounded-md shadow">
      <h2 class="text-xl font-semibold mb-4 text-green-300">Existing Roles</h2>
      <app-role-list [roles]="roles$ | async" (deleteRole)="deleteRole($event)" />
    </div>
  </div>
</div>
</div>